    
    #cell{
        max-width: 100;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  
    }
    .pixel{
    margin: 10px;
    height: 200px;
    width: 200px;
    background-color: rgb(243, 8, 8);
}

