    

    #Etch{
        display: block;
        margin: auto;
    }
   
   .pixel{
        justify-self: stretch;
        background-color: blue;
}

    #container {
        display: grid;
        justify-content: stretch;
        width: 25vw;
        height: 25vw;
        margin: auto;
        border: 1px solid black;
        
    }

    #reset{
        display: block;
        border-radius: auto;
        margin: auto;
        padding-bottom: 10px;

    }

 